<form class="login flex flex-col relative p-4 rounded-lg bg-white border-2 border-[#596275] min-h-[350px]">
    <h2 class="text-xl text-[#3dc1d3]">
        Login to your account
    </h2>
    <p class="text-[#596275] mb-6">
        I have an account in this town.
    </p>

    <input
        class="bg-[#e6e8e9] border-2 border-[#596275] text-[#596275] placeholder:text-[#303952] px-3 py-2 rounded-md mb-5"
        type="email" placeholder="Username/Email">

    <input
        class="bg-[#e6e8e9] border-2 border-[#596275] text-[#596275] placeholder:text-[#303952] px-3 py-2 rounded-md mb-5"
        type="password" placeholder="Password">

    <div class="flex-1"></div>

    <button
        class="bg-gradient-to-b from-[#f3a683] via-[#f3a683] to-[#f19066] rounded-md py-2 border-2 border-[#596275] hover:border-[#303952]">
        Submit & Login
    </button>
</form>