<footer class="absolute flex flex-nowrap items-center w-full px-2 -bottom-[40px]">
    <div
        bind-click="change(login)"
        class="item login relative -top-[2px] mx-[2px] px-4 py-2 rounded-lg rounded-t-none border-t-0 bg-white border-2 border-[#596275] text-sm cursor-pointer transition-all duration-100">
        Login
    </div>

    <div
        bind-click="change(register)"
        class="item register relative mx-[2px] px-4 py-2 rounded-lg rounded-t-none border-t-0 bg-[#ffd3be] border-2 border-[#596275] text-sm cursor-pointer transition-all duration-100">
        Register
    </div>

    <div
        bind-click="change(forget)"
        class="item forget relative mx-[2px] px-4 py-2 rounded-lg rounded-t-none border-t-0 bg-[#ffd3be] border-2 border-[#596275] text-sm cursor-pointer transition-all duration-100">
        Forget
    </div>
    <div class="flex-1"></div>
    <div
        class="relative top-[2px] mx-[2px] px-4 py-2 rounded-lg rounded-t-none border-t-0 bg-[#ffd3be] border-2 border-[#596275] cursor-pointer">
        <div class="w-[24px] h-[24px] bg-metamask bg-no-repeat bg-center bg-contain"></div>
    </div>
</footer>